body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 0.9em;
}

a {
  padding: 8px;
  white-space: nowrap;
  text-decoration: none;
  color: #3b3b3b;
  font-size: 15px;
}

a:hover {
  text-decoration: underline;
}
.tl {
  position: relative;
  top: 15px;
}

.signin {
  background-color: rgb(66, 133, 244);
  color: white;
  padding: 9px 12px;
  border-radius: 5px;
  border: none;
}

.tr {
  text-align: right;
  position: relative;
  top: -18px;
  padding: 8px;
}

.logo {
  padding: 109;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  background-color: transparent;
  border: ;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
}

input[type="text"] {
  text-rendering: auto;x
  letter-spacing: normal;
  word-spacing: normal;
  position: relative;
  width: 50%;
  height: 30px;
  position: relative;
  left: 25%;
  top: -100px;
  border-radius: 4px;

}

input[type="submit"] {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
}

.gs {
  display: flex;
  position: relative;
  left: 30%;
  top: -80px;
}

.fl {
  position: relative;
  left: 50%;
  top: -127px;
}